@font-face {
    font-family: 'Lemon-Jelly';
    src: url('./LemonJellyPersonalUse-dEqR.ttf');
}

h1 {
    font-family: Lemon-Jelly;
    font-size: 3.5rem;
    color:darkturquoise;
    text-align: center;
}